<launch>
    <rosparam command="load" file="$(find lidar_detect)/cfg/quad_params.yaml"/>
    <!-- <node name="RANSACK_plane" pkg="lidar_detect" type="RANSACK_plane" /> -->
    <node name="clustering_final" pkg="lidar_detect" type="clustering_final" />
    <!-- <node name="quadtree_seg" pkg="lidar_detect" type="quadtree_seg" /> -->
</launch>